
	CSS Rules
	Syntax: 
		selector {
		property: value;

		}
*/

h1 {
	color: yellow !important;
}

/*
	1. UNIVERSAL SELECTOR
	CSS Reset & Change font of every element in HTML 
*/

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

*{
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*
	2. TYPE SELECTOR
*/

body {
	background-color: skyblue;
}

/*
	3. ATTRIBUTE SELECTOR
*/

input[required]{

	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/*
	4. CLASS SELECTOR
*/

.offering-item{
	text-transform: uppercase;
}

/*
	5. ID SELECTOR
*/

#zuitt-motto{
	letter-spacing: 5px;
}

/*CSS SELECTOR COMBINATORS*/
/*ADJACENT SIBLING SELECTOR*/
/*
	sibling_element + target_element {
		property: value;
	}
*/

h3 + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*GENERAL SIBLING SELECTOR*/
/*
	sibling_element ~ target_element {
		property: value;
	}
*/
h3 ~ a{
	text-decoration: none;
}

/*CHILD SELECTOR*/
/*
	selector1 > selector2{
		style: properties;
	}
*/

body > section > form > label{
	color: rgb(0, 0, 128);
}

/*DESCENDANT SELECTOR*/
/*
	selector1 selector2 {
		style: properties;
	}
*/

#bootcamp-learning-list li{
	color: #075966;
}

html{
	scroll-behavior: smooth;
}

/*Navigation Bar*/
nav{
	background-color: white;
}

/*Selector:  hover pseudo class*/
/*Changes the style when hovered*/

a:hover {
	background-color: #b4d6de;
}

/*Div for the NavBar*/
div{
	display: inline-block;
	float: right;
}

/*Landing Section and Form Section*/

section{
	height: 100vh;
	text-align: center;
}

/*Welcome to Zuitt and Register*/

h2{
	font-size: 1.5rem;
}

/*List: Remove Number*/
ol{
	list-style-type: none;
}
/*Register Form*/
form{
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 30%;
	position: relative;
	left: 35%;
}

button{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}