p{
	color: yellow;
}

*{
	font-family: Verdana, sans-serif;*/
	font-size: 17px;
}

h1{
	font-size: 40px;
}

#upper-case{
	text-transform: uppercase;
}

.languages-item{
	background-color: lightgreen;
}

li[value]{
	border-width: 1px;
	border-style: solid;
	border-color: skyblue;
}

img + ul{
	list-style: none;
}

section img{
	height: 100px;
	width: 100px;
	border-radius: 150px;
}

h4 ~ p{
	color: black;
	text-align: center;
}

body > section > ul{
	letter-spacing: 7px;

}